{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Optimizer | Home</title>

    <link
        rel="stylesheet"
        href="{% static 'css/home.css' %}"
    >

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    >

</head>

<body>

    <main class="dashboard-wrapper">

        <!-- SIDEBAR -->

        <aside class="sidebar">

            <div class="sidebar-top">

                <div class="logo-icon">

                    <img
                        class="logo-banner"
                        src="{% static 'img/logo.png' %}"
                    >

                    <h1 class="logo">
                        Optimizer
                    </h1>

                </div>

                <nav class="sidebar-nav">

                    <p class="nav-subtitle">
                        Geral
                    </p>

                    <a href="#" class="active">

                        <i class="fa-solid fa-bars"></i>

                        Dashboard

                    </a>

                    <a href="#">

                        <i class="fa-solid fa-users"></i>

                        Turmas

                    </a>

                    <a href="#">

                        <i class="fa-solid fa-chalkboard"></i>

                        Salas

                    </a>

                    <a href="#">

                        <i class="fa-solid fa-boxes-stacked"></i>

                        Recursos

                    </a>

                    <p class="nav-performance">
                        Performance
                    </p>

                    <a href="#">

                        <i class="fa-solid fa-chart-simple"></i>

                        Resultados

                    </a>

                    <a href="#">

                        <i class="fa-solid fa-clock-rotate-left"></i>

                        Histórico

                    </a>

                </nav>

            </div>

            <div class="sidebar-bottom">

                <a
                    href="{% url 'logout' %}"
                    class="logout-button"
                >
                    Sair
                </a>

            </div>

        </aside>


        <!-- MAIN -->

        <section class="dashboard-main">

            <!-- TOPBAR -->

            <header class="topbar">

                <div class="searchbar">

                    <i class="fa-solid fa-magnifying-glass search-icon"></i>

                    <input
                        type="text"
                        placeholder="Pesquisar..."
                        class="search-input"
                    >

                </div>

            </header>


            <!-- HERO -->

            <section class="hero-grid">

                <!-- HERO CARD -->

                <div class="hero-card">
                    
                    <div class="glass-overlay"></div>
                    <div class="top-highlight"></div>

                    <div class="hero-content">

                        <span>
                            Otimize a distribuição
                        </span>

                        <h1>
                            Utilize o Solver e descubra
                            a melhor distribuição.
                        </h1>

                        <p>
                            Otimize, distribua e organize
                            suas salas em segundos.
                        </p>
                        <form method="POST">
                         {% csrf_token %}
                        <button class="solver-cta">

                            Utilizar o Solver agora

                            <i class="fa-solid fa-arrow-right"></i>

                        </button>
                        </form>
                    </div>

                    <img
                        class="hero-img"
                        src="{% static 'img/hero-img.png' %}"
                    >

                </div>


                <!-- SCHEDULE CARD -->

                <div class="stats-card">

                    <div class="schedule-header">

                        <div>

                            <p class="schedule-month">
                                Outubro 2026
                            </p>

                            <h3>
                                Suas turmas
                            </h3>

                        </div>

                        <button class="schedule-more">

                            <i class="fa-solid fa-ellipsis"></i>

                        </button>

                    </div>


                    <!-- CALENDAR -->

                    <div class="calendar-row">

                        <div class="calendar-day">

                            <span>SEG</span>

                            <p>21</p>

                        </div>

                        <div class="calendar-day">

                            <span>TER</span>

                            <p>22</p>

                        </div>

                        <div class="calendar-day active">

                            <span>QUA</span>

                            <p>23</p>

                        </div>

                        <div class="calendar-day">

                            <span>QUI</span>

                            <p>24</p>

                        </div>

                        <div class="calendar-day">

                            <span>SEX</span>

                            <p>25</p>

                        </div>

                    </div>


                    <!-- CLASS LIST -->

                    <div class="class-list">

                        <!-- CLASS ITEM -->

                        <div class="class-card">

                            <div class="class-card-top">

                                <div>

                                    <h4>
                                        Engenharia de Software
                                    </h4>

                                    <p>
                                        Laboratório 04 • 19:00
                                    </p>

                                </div>

                                <span class="class-badge">
                                    Hoje
                                </span>

                            </div>


                            <div class="class-card-bottom">

                                <div class="student-group">

                                    <div class="student-avatar"></div>

                                    <div class="student-avatar"></div>

                                    <div class="student-avatar"></div>

                                </div>

                                <button class="class-button">
                                    Abrir turma
                                </button>

                            </div>

                        </div>


                        <!-- CLASS ITEM -->

                        <div class="class-card secondary">

                            <div class="class-card-top">

                                <div>

                                    <h4>
                                        Banco de Dados
                                    </h4>

                                    <p>
                                        Sala 02 • 20:40
                                    </p>

                                </div>

                                <span class="class-badge">
                                    Próxima
                                </span>

                            </div>


                            <div class="class-card-bottom">

                                <div class="student-group">

                                    <div class="student-avatar"></div>

                                    <div class="student-avatar"></div>

                                    <div class="student-avatar"></div>

                                </div>

                                <button class="class-button">
                                    Abrir turma
                                </button>

                            </div>

                        </div>

                    </div>

                </div>

            </section>


            <!-- METRICS -->

            <!-- METRICS -->

            <section class="metrics-grid">

                <div class="metric-card">

                    <div class="metric-top">

                        <div class="metric-icon metric-purple">
                            <i class="fa-solid fa-door-open"></i>
                        </div>

                        <div class="metric-badge positive">
                            +3%
                        </div>

                    </div>

                    <div class="metric-content">

                        <span>
                            Salas ativas
                        </span>

                        <h2>
                            24
                        </h2>

                        <p>
                            +3 salas disponíveis hoje
                        </p>

                    </div>

                </div>


                <div class="metric-card">

                    <div class="metric-top">

                        <div class="metric-icon metric-blue">
                            <i class="fa-solid fa-chart-pie"></i>
                        </div>

                        <div class="metric-badge positive">
                            +12%
                        </div>

                    </div>

                    <div class="metric-content">

                        <span>
                            Alocações
                        </span>

                        <h2>
                            128
                        </h2>

                        <p>
                            Fluxo otimizado esta semana
                        </p>

                    </div>

                </div>


                <div class="metric-card">

                    <div class="metric-top">

                        <div class="metric-icon metric-pink">
                            <i class="fa-solid fa-bolt"></i>
                        </div>

                        <div class="metric-badge positive">
                            +8%
                        </div>

                    </div>

                    <div class="metric-content">

                        <span>
                            Eficiência
                        </span>

                        <h2>
                            94%
                        </h2>

                        <p>
                            Melhor desempenho operacional
                        </p>

                    </div>

                </div>

            </section>


            <!-- TABLE -->

            <section class="table-section">

                <div class="table-header">

                    <h3>
                        Últimas alocações
                    </h3>

                </div>

                <table>

                    <thead>

                        <tr>

                            <th>Sala</th>
                            <th>Status</th>
                            <th>Capacidade</th>
                            <th>Eficiência</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Lab 01</td>
                            <td>Ativa</td>
                            <td>40</td>
                            <td>92%</td>

                        </tr>

                        <tr>

                            <td>Lab 03</td>
                            <td>Ocupada</td>
                            <td>32</td>
                            <td>88%</td>

                        </tr>

                        <tr>

                            <td>Sala 12</td>
                            <td>Disponível</td>
                            <td>28</td>
                            <td>97%</td>

                        </tr>

                    </tbody>

                </table>

            </section>

        </section>

    </main>

</body>

</html>