{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | Optimizer</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <main class="login-wrapper">
        <!-- Painel Esquerdo -->
        <section class="login-banner">

            <div class="banner-overlay"></div>

            <div class="banner-content">
                <div class="logo">
                    <h1>Optimizer</h1>
                </div>

                <div class="banner-text">
                    <h2>
                        <span>Maximize resultados.</span>
                    </h2>

                    <p>
                        Transforme sua vida administrativa em segundos.
                        Aloque turmas com a praticidade de um clique.
                    </p>

                </div>

            </div>
        </section>

        <!-- Painel Direito -->
        <section class="login-panel">

            <div class="panel-content">

                <div class="panel-header">
                    <h2>Bem-vindo de volta!</h2>

                    <p>
                        Pronto para otimizar suas turmas novamente ?
                    </p>
                </div>

                <form method="POST" class="login-form">

                    {% csrf_token %}

                    <div class="input-group">
                        <label>Usuário</label>
                        {{ form.username }}

                        {% if form.username.erros %}
                            <span class="input-errors">
                                {{ form.username.errors.0 }}
                            </span>
                        {% endif %}

                    </div>

                    <div class="input-group">
                        <label>Senha</label>
                        {{ form.password }}

                        {% if form.password.errors %}
                            <span class="input-error">
                                {{ form.password.errors.0 }}
                            </span>
                        {% endif %}

                    </div>

                    {% if form.non_field_errors %}

                        <div class="form-error">

                        {% for error in form.non_field_errors %}
                            <span>{{ error }}</span>
                        {% endfor %}

                        </div>

                    {% endif %}

                    <div class="form-options">

                        <div class="remember-me">
                            <label class="checkbox-wrapper">

                            <input type="checkbox">

                            <span class="custom-checkbox"></span>

                            <span class="checkbox-text">
                                Lembrar de mim
                            </span>

                            </label>
                        </div>

                        <a href="#">
                            Esqueceu sua senha?
                        </a>

                    </div>

                    <button type="submit" class="login-button">
                        Entrar
                    </button>

                </form>

                <div class="register-link">
                    <p>
                        Ainda não possui conta?
                        <a href="/register/">
                            Cadastre-se
                        </a>
                    </p>
                </div>

            </div>

        </section>

    </main>
    
</body>
</html>